{% extends 'base.html.twig' %}
{% block title %}Commentaires{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h1>Gestion des commentaires</h1>
    </div>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_ADMIN')%}
    <div class="d-flex" id="wrapper">
        <div class="border-end" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a class="nav-link" href="{{ path('admin_users') }}">Liste des utilisateurs</a>
            </div>
            <div class="list-group list-group-flush">
                <a class="nav-link" href="{{ path('admin_trick_index') }}">Liste des figures</a>
            </div>
        </div>
    </div>
{% endif %}
<div class="wrapper-form-comments" style=" margin-bottom: 400px;">
        <div class="container">
            <div class="table-responsive" id="no-more-tables" >
                <div class="table-margin ">
                    <table class="table bg-white">
                        <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col">Date d'enregistrement</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <p><strong>{{ nbMessages }}</strong> commentaire{% if nbMessages > 1 %}s{% endif%} à visualiser</p>
                            {% for message in messages %}
                            {% if message.isValidated == null %}
                            <td data-title ='enregistré le:'> &nbsp  &nbsp &nbsp
                                {{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}
                            </td>
                            <td data-title ='pseudo'>{{ message.user.username }}</td>
                            <td data-title ='email'>{{ message.content }}</td>
                            <td data-title ='action'>
                                <form method="post" action="{{ path('admin_message_validation', {id: message.id}) }}">
                                    <input type="hidden" class="btn btn-success" name="_token" value="">
                                    <button class="btn btn-success">Valider</button>
                                    <a href= "{{ path('message_delete',{id: message.id, _csrf_token: csrf_token('delete-message')}) }}"
                                       onclick="return confirm('Etes vous sure?')"
                                       class="btn btn-danger">Supprimer
                                    </a>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
