{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Liste des figures</h1>
    </div>
    {% if is_granted('ROLE_ADMIN')%}
    <div class="d-flex" id="wrapper">
        <div class="border-end" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a class="nav-link" href="{{ path('admin_users') }}">Liste des utilisateurs</a>
            </div>
            <div class="list-group list-group-flush">
                <a class="nav-link" href="{{ path('admin_comments') }}">Liste des commentaires</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="wrapper-form">
        <div class="container">
            <div class="table-responsive" id="no-more-tables">
                <table class="table bg-white">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Rédacteur</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
<<<<<<< HEAD
                            <th scope="col">Créé le </th>
=======
                            <th scope="col">Créé le</th>
>>>>>>> 5a49d15 (add show func migration and update webpack)
                            <th scope="col">Catégorie</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for trick in tricks %}
                            <td data-title ='id'>{{ trick.id }}</td>
                            <td data-title = 'pseudo'>{{ trick.user.username }}</td>
                            <td data-title ='titre'>{{ trick.nameFigure }}</td>
                            <td data-title = 'description'>{{ trick.description|slice(0, 40) }}</td>
                            <td data-title = 'créée le'>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td data-title = 'categories'>{{ trick.categories.0.label}}</td>
                            <td data-title ='actions'>
                            {{ include('trick/_btn_show_trick.html.twig') }}
                            {{ include('trick/_edit_form_trick.html.twig') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if isPaginated %}
        <div class="text-center m-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if (page) != (1) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('admin_trick_index',{page : page - 1, nbre: nbre})}}">
                                Précédent
                            </a>
                        </li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        {% if page == i  %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ path('admin_trick_index',{page : i, nbre: nbre})}}">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('admin_trick_index',{page : i, nbre: nbre})}}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor%}
                    {% if (page) != (nbrePage) %}
                        <li class="page-item " >
                            <a class="page-link" href="{{ path('admin_trick_index',{page : page + 1, nbre: nbre})}}">
                                Suivant
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
