{% extends 'base.html.twig' %}

{% block title %}Salut Snowboarders!{% endblock %}

{% block body %}
    <div class="full-screen-width mb-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="image-container">
            <img class="img-fluid image-reduced-height" src="{{ asset('assets/877546.jpg') }}" alt="">
            <div class="image-text text-wrap">
                <h2 class="fw-bold text-lg">Bienvenue sur Snowtricks !</h2>
                <p class="text-md">Découvrez les figures de snowboard les plus incroyables et rejoignez la communauté pour partager vos expériences.</p>
                <p class="text-sm">Explorez, découvrez, discutez ! et plongez dans l'univers passionnant des figures de snowboard !"</p>
                <a href="#sec-2" class="scroll-down" onclick="scrollToSection(event)">
                    <div class="arrow-button">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div id="sec-2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for trick in tricks %}
                    <div class="col">
                        <div class="thumbnail">
                            <div class="image-container">
                                {% if trick.images|length > 0 %}
                                    {% for image in trick.images %}
                                        {% if loop.index0 < 1 %}
                                            <a href="{{ path('trick_show', {'slug': trick.slug|slug}) }}">
                                                <img class="gallery-index" src="{{ asset('uploads/' ~ image.name) | imagine_filter('imgs') }}" alt="Image de la figure {{ trick.nameFigure }}" />
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a href="{{ path('trick_show', {'slug': trick.slug|slug}) }}">
                                        <img class="gallery-index" src="{{ asset('assets/snowboarding.jpg')}}" alt="Image par défaut" />
                                    </a>
                                {% endif %}
                            </div>
                            <div class="caption">
                                <h6>{{ trick.nameFigure }}</h6>
                                <h6><span class="author">De {{ trick.user.username }}</span></h6>
                                <div class="button-container">
                                    <a href="{{ path('trick_show', {'slug': trick.slug|slug}) }}" class="btn btn-primary btn-sm" role="button" title="En savoir plus sur {{ trick.nameFigure }}">En savoir +</a>
                                    {% if app.user %}
                                        {% if (app.user.roles.0 == "ROLE_ADMIN") or (app.user.roles.0 == "ROLE_MODO") or (app.user.id == trick.user.id) %}
                                            <a href="{{ path('trick_edit', {'slug': trick.slug|slug, _csrf_token: csrf_token('edit-trick-update')}) }}" class="btn btn-warning btn-sm" role="button" title="Modifier {{ trick.nameFigure }}">
                                                <i class="fas fa-pen"></i> Editer
                                            </a>
                                            <a href="{{ path('trick_delete', {'slug': trick.slug|slug, _csrf_token: csrf_token('delete-trick')}) }}" onclick="return confirm('Etes vous sûr ?')" class="btn btn-danger btn-sm" role="button" title="Supprimer la figure {{ trick.nameFigure }}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(tricks, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
