{% extends 'base.html.twig' %}

{% block title %}Salut Snowboarders!{% endblock %}

{% block body %}
    <div class="full-screen-width">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message}}
            </div>
        {% endfor %}
        <div class="col-12 d-flex justify-content-center">
            <div class="image-container">
            <img class="img-fluid image-reduced-height" src="{{ asset('assets/877546.jpg') }}" alt="">
                <div class="image-text">
                    <h2>Bienvenue sur Snowtricks !</h2>
                    <p>Découvrez les figures de snowboard les plus incroyables et rejoignez la communauté pour partager vos expériences.</p>
                    <p>Explorez, découvrez, discutez ! Faites défiler &nbsp; <a href="#sec-2" class="bottom"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></p>
                <p>pour plonger dans l'univers passionnant des figures de snowboard !"</p>
                </div>
            </div>
        </div>
    <a href="#sec-2">
        <div class="scroll-down"></div>
    </a>
    <div class="container">
        <div id="sec-2" >

<div class="custom-grid">
    {% for trick in tricks %}
    <div class="thumbnail mt-3 mb-5">
        {% if trick.images|length > 1 %}
            {% for image in trick.images %}
                {% if loop.index0 < 1 %}
                    <img class="gallery-index" src="{{ asset('uploads/' ~ image.name) | imagine_filter('imgs') }}" alt="Image de la figure {{ trick.nameFigure }}"/>
                {% endif %}
            {% endfor %}
        {% else %}
            <img class="gallery-index" src="{{ asset('assets/snowboarding.jpg')}}" alt="Image par défaut" />
        {% endif %}
        <div class="caption">
            <h6>{{ trick.nameFigure }}</h6> <!-- Using h5 instead of h4 -->
            <div class="button-container">
                <a href="{{ path('trick_show', {'slug': trick.slug|slug}) }}" class="btn btn-primary btn-sm" role="button" title="En savoir plus sur {{ trick.nameFigure }}">En savoir +</a>
                {% if app.user %}
                    {% if (app.user.roles.0 == "ROLE_ADMIN") or (app.user.roles.0 == "ROLE_MODO") or (app.user.id == trick.user.id) %}
                        <a href="{{ path('trick_edit', {'slug': trick.slug|slug, _csrf_token: csrf_token('edit-trick-update')}) }}" class="btn btn-warning btn-sm" role="button" title="Modifier la figure {{ trick.nameFigure }}">
                            <i class="fas fa-pen"></i> Editer
                        </a>
                        <a href="{{ path('trick_delete', {'slug': trick.slug|slug, _csrf_token: csrf_token('delete-trick')}) }}" onclick="return confirm('Etes vous sûr ?')" class="btn btn-danger btn-sm" role="button" title="Supprimer la figure {{ trick.nameFigure }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>







            {% if tricks|length >= 15%}
                <a href="#" class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {% if isPaginated %}
        <nav aria-label="Page navigation example " >
            <ul class="pagination justify-content-center">
                {% if (page) != (1) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('app_home',{page : page - 1, nbre: nbre})}}">
                            Précédent
                        </a>
                    </li>
                {% endif %}
                {% for i in range(1, nbrePage) %}
                    {% if page == i  %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ path('app_home',{page : i, nbre: nbre})}}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_home',{page : i, nbre: nbre})}}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor%}
                {% if (page) != (nbrePage) %}
                    <li class="page-item " >
                        <a class="page-link" href="{{ path('app_home',{page : page + 1, nbre: nbre})}}">
                            Suivant
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}