{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Trick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>PublishedAt</th>
                <th>Category</th>
                <th>IsPublished</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.publishedAt ? trick.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.categories.0.label}}</td>
                <td>{{ trick.isPublished ? 'Yes' : 'No' }}</td>
                 <td>{{ trick.images.0.name }}</td>
                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">Voir</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trick_new') }}">Créer une figure</a>
{% endblock %}
