{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <div class="text-center">
        <h2>Liste des figures</h2>
    </div>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="nav-link" href="{{ path('admin_users') }}">Liste utilisateurs</a>
        </div>
    </div>
</div>
<section class="bg-light p-5">
    <div class="table-responsive" id="no-more-tables">
        <table class="table bg-white">
            <thead class="bg-dark text-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Rédacteur</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Créé le</th>
                <th scope="col">Publiée le</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Images</th>
                <th scope="col">Videos</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        {% for trick in tricks %}

                <td data-title ='id'>{{ trick.id }}</td>
                <td data-title = 'pseudo'>{{ trick.user.username }}</td>
                <td data-title ='titre'>{{ trick.nameFigure }}</td>
                <td data-title = 'description'>{{ trick.description|slice(0, 40) }}</td>
                <td data-title = 'créé le'>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td data-title = 'publié le'>{{ trick.publishedAt ? trick.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td data-title = 'categories'>{{ trick.categories.0.label}}</td>
                <td data-title ='image'> {% for image in trick.images %}
                     {{ image.name|slice(0, 10) }}<br>
                 {% endfor %}</td>
                <td data-title ='video'> {% for video in trick.videos %}
                   {{ video.name|slice(0, 10) }}<br>
                {% endfor %}</td>
                <td data-title ='actions'>
                    <a href="{{ path('trick_show', {'slug': trick.slug|slug}) }}">Voir</a>
                    <a href="{{ path('trick_edit', {'slug': trick.slug|slug, _csrf_token: csrf_token('edit-trick-update')}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">aucune figures trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>
        {% if isPaginated %}
        <div class="text-center m-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if (page) != (1) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('admin_trick_index',{page : page - 1, nbre: nbre})}}">
                                Précédent
                            </a>
                        </li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        {% if page == i  %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ path('admin_trick_index',{page : i, nbre: nbre})}}">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('admin_trick_index',{page : i, nbre: nbre})}}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor%}
                    {% if (page) != (nbrePage) %}
                        <li class="page-item " >
                            <a class="page-link" href="{{ path('admin_trick_index',{page : page + 1, nbre: nbre})}}">
                                Suivant
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
{% endblock %}
