{% extends 'base.html.twig' %}

{% block title %}Créer figure{% endblock %}

{% block body %}
    <div class="container mt-3 mb-4">
        {{ form_errors(form) }}
        <h1>Créer figure</h1>
        <div class="col-12 mt-4">
            {{ form_start(form) }}
            {{ form_widget(form._token) }}
            <div class="col-4 mt-4">
                <strong>{{ form_row(form.nameFigure) }}</strong>
            </div>
            <div class="form-floating">
                <div class="col-8 row-12 mt-4">
                    <strong>{{ form_row(form.description) }}</strong>
                </div>
            </div>
            <div class="mt-4">
                <strong>{{ form_row(form.images) }}</strong>
            </div>
            <div class="mt-4 col-6">
                <strong>{{ form_row(form.categories) }}</strong>
            </div>
            <div class="mt-4">
                <button type="button" class="btn btn-warning btn-new mb-4" id="btn-add" data-collection="#videos">Ajouter une video</button>
            </div>
            <div id="videos" class="video-edit"
                 data-prototype="{{ include("trick/_video.html.twig", {form: form.videos.vars.prototype})|e("html_attr")}}"
                 data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
                {% for video in form.videos %}
                    <div class="col-4">
                        {{ include("trick/_video.html.twig", {form: video}) }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ include('trick/_form.html.twig') }}
            </div>
            {{ form_end(form, {render_rest:false}) }}
        </div>
    </div>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
