{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
<div class="container-fluid">
{% if images is not empty %}
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <img src="{{ asset('uploads/' ~ trick.images.0.name)| imagine_filter('welcome6') }}" class="img-fluid"  alt="">
            {% if app.user %}
                {% if (app.user.roles.0 == "ROLE_ADMIN") or (app.user.id == trick.user.id) %}
                    <div class="btn-group">
                        <a href= "{{ path('trick_delete_image_show', {'slug': trick.slug | slug, id: images.0.id}) }}"
                           data-delete data-token ="{{ csrf_token('delete' ~ images.0.id) }}"
                           onclick="return confirm('Etes-vous sure de vouloir supprimer cette image?')"
                           class="btn btn-danger">Supprimer
                        </a>
                        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" id="edit"
                           class="btn btn-warning">Modifier</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <img class="card-img-top" src=" {{ 'assets/snowboarding.jpg' }}" alt="..." />

{% endif %}
</div>
    <div class = "text-center mb-10">
    {% for image in trick.images %}
        <div class="d-inline-block mt-3" >
            <img class="gallery-index" src=" {{ asset('/uploads/' ~ image.name)| imagine_filter('imgs') }}" style="margin:10px" alt="Image" />
            <br/>
            <span>
                <a href= "{{ path('trick_delete_image', {'slug': trick.slug|slug , id: image.id}) }}"
                   data-delete data-token ="{{ csrf_token('delete' ~ image.id) }}"
                   onclick="return confirm('Etes vous sur de vouloir supprimer cette image?')"
                   class="btn btn-danger" >Supprimer
            </a>
            <a href="{{ path('trick_edit', {'slug': trick.slug|slug}) }}"
               class="btn btn-warning">Modifier</a>
            </span>
        </div>
    {% endfor %}
        {% for video in trick.videos %}
        <div class="d-inline-block" >
        <iframe class="trick-media"style="margin-top: 4px;margin-right: 10px;margin-left: 10px" id="{{ loop.index + trick.images|length }}"
                    src="{{ video.name }}" width="250vw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <br/>
            <span>
                <a href= "{{ path('trick_delete_video', {video_id: video.id}) }}"
                   data-delete data-token ="{{ csrf_token('delete' ~ video.id) }}"
                   onclick="return confirm('Etes vous sur de vouloir supprimer cette vidéo?')"
                   class="btn btn-danger">Supprimer
                </a>
            <a href="{{ path('trick_edit', {'slug': trick.slug|slug}) }}" class="btn btn-warning">Modifier</a>
            </span>
        </div>
        {% endfor %}
</div>
    <div class="centered mt-5">
                {{ trick.nameFigure }}
            </div>
    <div class="container">
        <div class="row text-center mt-5 m-lg-3" style="border: black 1px solid">
            <strong>Description</strong> :  {{ trick.description }}
        </div>
        <div class="col border text-center mt-5">

            Créer le : <strong>
                {{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}
            </strong>
        </div>
        <div class="col border text-center">
        Publié le :<strong>
                {{ trick.publishedAt ? trick.publishedAt|date('Y-m-d H:i:s') : '' }}
            </strong>
        </div>
        <div class="col border text-center mb-4">
            Categorie: <strong>{{ trick.categories.0.label}}</strong>
        </div>
        <hr>
        {% if app.user %}
            {{ include('trick/_form_message.html.twig', {'button_label': 'Laisser un commentaire'}) }}
        {% endif %}
        {% if trick.messages is not empty %}
            <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="position-relative">
                    {% for message in messages %}
                    <div class="wrapper">
                        <div class="chat-message-right pb-4">
                            <div>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                <div class="text-muted small text-nowrap mt-2" >{{ message.createdAt|date ('m-d-Y H:i:s') }} </div>
                            </div>
                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3" data-message-id="{{ loop.index0 }}">
                                <div class="font-weight-bold mb-1">You</div>
                                <p>{{message.content}}</p>
                            </div>
                            <a href= "{{ path('message_delete',{'slug': trick.slug|slug, id: message.id}) }}"
                               data-delete data-token ="{{ csrf_token('delete' ~ message.id) }}"
                               onclick="return confirm('Etes vous sure?')"
                               class="btn btn-danger">Supprimer
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% if isPaginated %}
                    <div class="text-center m-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if (page) != (1) %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('trick_show',{'slug': trick.slug|slug, page : page - 1, nbre: nbre})}}">
                                            Précédent
                                        </a>
                                    </li>
                                {% endif %}
                                {% if trick.messages|length > 10 %}
                                    {% for i in range(1, nbrePage) %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('trick_show', {'slug': trick.slug|slug, page : i, nbre: nbre})}}">{{ i }}</a>
                                        </li>
                                    {% endfor%}
                                {% endif %}
                                {% if (page) != (nbrePage) %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('trick_show',{'slug': trick.slug|slug, page : page + 1, nbre: nbre})}}">
                                            Suivant
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center m-3"><a href="{{ path('trick_index') }}">Retour à la liste </a></div>
    {% endif %}
{% endblock %}
